{% extends "natal/template.html" %} {% block main %}
<main>
  <div class="hero">
    <img class="banner" src="/static/imgs/maxresdefault.jpg" />
    <div>
      <h1 class="title-papaiNoel">Venha conhecer nosso Papai Noel</h1>
    </div>
  </div>

  <section class="informacoesDiversas">
    <div class="informacoes">
      <p class="desc-noel">
        O lorem ipsum dolor si amet está esperando você na casa dele! Venha
        lorem ipsum dolor sit amet junto com a sua Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Animi porro expedita, aperiam amet fugiat,
        sint aliquam quidem blanditiis sapiente, explicabo sed nesciunt
        recusandae tenetur dolorem quae debitis numquam veritatis quis.
      </p>
      <ul>
        <li><span class="lazyIcon">$</span><span> Entrada franca</span></li>
        <li>
          <span>Aberto das </span>
          <p>5:00 até 23:59</p>
        </li>
        <li>
          <span>Aberto nos dias: </span>
          <p>Todos os dias</p>
        </li>
        <li>
          <span>Endereço: </span>
          <p>
            Rua Blablabla BLABLA, número 64, em frente ao mercado Lorem Ipsum
          </p>
        </li>
      </ul>
    </div>

    <div class="slideShow slide-natal" id="galeria">
      <div class="controls">
        <button id="backButton">➤</button>
        <button id="nextButton">➤</button>
      </div>
      <div class="slide-item slide-to-right">
        <img src="/static/imgs/02122021-DSC_0080.jpg" />
      </div>
      <div class="slide-item slide-to-right">
        <img src="/static/imgs/11122021-DSC_0036.jpg" />
      </div>
      <div class="slide-item active-slide">
        <img src="/static/imgs/02122021-DSC_0055.jpg" />
      </div>
      <div class="slide-item slide-to-left">
        <img src="/static/imgs/16122021-DSC_0041.jpg" />
      </div>
      <div class="slide-item slide-to-left">
        <img src="/static/imgs/01012012-DSCN0060.jpg" />
      </div>
    </div>

    <div class="direcoes">
      <h3>Onde nos encontrar</h3>
      <div class="googleMaps">INSERIR PARADINHA DO GOOGLE MAPS AQUI</div>
    </div>
  </section>
</main>
{% endblock %}
