{% extends "natal/template.html" %} {% block main %}
<main>

  <section class="informacoesDiversas">
    <div class="moreText">
      <h3>LOREM IMPSUM</h3>

    <div class="sla">
      <div class="texto">
        
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          maiores nam eaque consectetur rerum vitae quisquam corrupti sit illo,
          accusamus qui ullam at eum veniam eligendi. Fugit dignissimos impedit
          quos?
        </p>       
         <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          maiores nam eaque consectetur rerum vitae quisquam corrupti sit illo,
          accusamus qui ullam at eum veniam eligendi. Fugit dignissimos impedit
          quos?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam beatae in quod iusto ipsum repudiandae, nostrum officia neque. Nobis iusto ipsa odio! Enim sequi expedita a ipsum, assumenda quis sit?
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti ea illum ad sed dolor aliquam optio in officia facere, consequuntur omnis quo eveniet nostrum? Neque aliquid provident culpa nostrum consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia saepe nulla neque iusto dicta? Nesciunt cumque pariatur in dolor aliquam, similique eius quaerat aperiam eveniet autem, ad accusantium minima inventore! Lorem ipsum dolor sit, amet consectetur adipisicing.
        </p>
      </div>
      <img src="/static/imgs/1576783569-61d5ab9f9e79eb6bffd36da1ec549210.png"/>
    </div>


    <p class="texto-dois">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
      maiores nam eaque consectetur rerum vitae quisquam corrupti sit illo,
      accusamus qui ullam at eum veniam eligendi. Fugit dignissimos impedit
      quos?Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse atque et sunt optio modi accusamus ut dolor commodi dolore officiis aspernatur cupiditate voluptatibus asperiores suscipit, perspiciatis ad minima libero consequuntur.
    </p>
  </div>

  <div class="">
      <section><img src="/static/imgs/" alt=""><span>Entrada Franca</span></section>
      <section><img src="/static/imgs/" alt=""><span></span></section>
      <section><img src="/static/imgs/" alt=""><span></span></section>
  </div>

    <div class="direcoes">
      <h3>Onde nos encontrar!</h3>
      <div class="googleMaps">INSERIR PARADINHA DO GOOGLE MAPS AQUI</div>
    </div>
  </section>
</main>
{% endblock %}
