{% extends "natal/template.html" %}
{% block JSTemplate %}
<script src="https://cdn.jsdelivr.net/npm/vara@1.4.0/lib/vara.min.js" type="text/javascript"></script>
{% endblock %}

{% block main %}
<main>
  <div class="natal-hero">
    <div id="banner-casa">
    <h1>FRASE DAHORA</h1>
    </div>
    <div class="feed">
      <img
        src="/static/imgs/1576783569-61d5ab9f9e79eb6bffd36da1ec549210.png"
        alt=""
      /><img
        src="/static/imgs/1576783569-61d5ab9f9e79eb6bffd36da1ec549210.png"
        alt=""
      /><img
        src="/static/imgs/1576783569-61d5ab9f9e79eb6bffd36da1ec549210.png"
        alt=""
      />
    </div>
  </div>

  <section class="informacoesDiversas">
    <div class="moreText">
      <h3>LOREM IMPSUM</h3>

      <div class="sla">
        <div class="texto">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            maiores nam eaque consectetur rerum vitae quisquam corrupti sit
            illo, accusamus qui ullam at eum veniam eligendi. Fugit dignissimos
            impedit quos?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            maiores nam eaque consectetur rerum vitae quisquam corrupti sit
            illo, accusamus qui ullam at eum veniam eligendi. Fugit dignissimos
            impedit quos? Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Ipsam beatae in quod iusto ipsum repudiandae, nostrum officia
            neque. Nobis iusto ipsa odio! Enim sequi expedita a ipsum, assumenda
            quis sit? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Corrupti ea illum ad sed dolor aliquam optio in officia facere,
            consequuntur omnis quo eveniet nostrum? Neque aliquid provident
            culpa nostrum consectetur. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quia saepe nulla neque iusto dicta? Nesciunt
            cumque pariatur in dolor aliquam, similique eius quaerat aperiam
            eveniet autem, ad accusantium minima inventore! Lorem ipsum dolor
            sit, amet consectetur adipisicing.
          </p>
        </div>
        <img
          src="/static/imgs/1576783569-61d5ab9f9e79eb6bffd36da1ec549210.png"
        />
      </div>
    </div>

    <div class="icones">
      <section>
        <img src="/static/imgs/calendar.svg" alt="" />
        <span>De 1 de dezembro até 2 de janeiro</span>
      </section>
      <section>
        <img src="/static/imgs/clock.svg" alt="" />
        <span>Aberto de segunda à quinta, das 10:00 às 18:00</span>
      </section>
      <section id="dolar-dolar">
        <img src="/static/imgs/dolar.svg" alt="" /><span>Entrada Franca</span>
      </section>
    </div>

    <div class="direcoes">
      <h3>Onde nos encontrar!</h3>
      <div class="googleMaps">INSERIR PARADINHA DO GOOGLE MAPS AQUI</div>
    </div>
  </section>
</main>
{% endblock %}
