<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />

    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />



    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js" defer></script>
    <script src="/static/js/scripts.js" defer></script>
    <script src="/static/js/neve.js" defer></script>

    <title>Natal Nova Friburgo</title>
  </head>

  <body>
    <canvas class="neve"></canvas>

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#"><img src="/static/imgs/logoTurismo.png"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Galeria</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="hero">
        <img
          class="banner"
          src="/static/imgs/banner2.png"
        />
        <div class="col-lg-6">
          <div class="d-grid gap-2 d-sm-flex absoluteCenter">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
              Primary button
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
              Secondary
            </button>
          </div>
        </div>
      </div>

      <div class="text-block">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptate
          consectetur facere dolorem in, eum culpa optio sapiente. Voluptatem
          quidem assumenda vel eveniet, pariatur aliquam! Vero, id. Provident,
          distinctio id. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Facilis eaque, officiis, voluptate eum eius consequatur commodi
          sint excepturi et nihil possimus, doloremque quas voluptates? Minima
          illo quis facilis maxime corrupti? Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatibus ducimus neque praesentium
          recusandae error laboriosam, officiis debitis minus ullam sapiente cum
          omnis repellat, sed earum odit dolor quisquam tempora eum? Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Veniam, soluta earum.
          Dolor, fugiat. Corporis maxime esse animi quam sunt, nobis impedit
          recusandae, ipsum sint ea, modi quasi labore nihil voluptatum.
        </p>
      </div>

      <div class="album py-5">
        <div class="container">
          <h3>Galeria</h3>
          <div class="row">
            <div class="col">
              <div class="card box-shadow">
                <img
                  class="card-img-top"
                  data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                  alt="Thumbnail [100%x225]"
                  style="height: 225px; width: 100%; display: block"
                  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1810693e60d%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1810693e60d%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.68333435058594%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                  data-holder-rendered="true"
                />
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div class="d-flex justify-content-around"></div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card box-shadow">
                <img
                  class="card-img-top"
                  data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                  alt="Thumbnail [100%x225]"
                  style="height: 225px; width: 100%; display: block"
                  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1810693e60d%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1810693e60d%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.68333435058594%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                  data-holder-rendered="true"
                />
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  ></div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card box-shadow">
                <img
                  class="card-img-top"
                  data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                  alt="Thumbnail [100%x225]"
                  style="height: 225px; width: 100%; display: block"
                  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1810693e60d%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1810693e60d%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.68333435058594%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                  data-holder-rendered="true"
                />
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-5">
        <div class="row quotes">
          <div class="col">
            <figure>
              <blockquote class="blockquote">
                <p>
                  A well-known quote, contained in a blockquote element. Lorem,
                  ipsum dolor sit amet consectetur adipisicing elit.
                  Repudiandae, eius? Esse, error hic?
                </p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
          </div>
          <div class="col">
            <figure>
              <blockquote class="blockquote">
                <p>
                  A well-known quote, contained in a blockquote element. Lorem,
                  ipsum dolor sit amet consectetur adipisicing elit.
                  Repudiandae, eius? Esse, error hic?
                </p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
          </div>
          <div class="col">
            <figure>
              <blockquote class="blockquote">
                <p>
                  A well-known quote, contained in a blockquote element. Lorem,
                  ipsum dolor sit amet consectetur adipisicing elit.
                  Repudiandae, eius? Esse, error hic?
                </p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <div class="slider-container">
        <h2>Eventos</h2>
        <ul
          class="controls"
          id="customize-controls"
          aria-label="Carousel Navigation"
          tabindex="0"
        >
          <li
            class="prev"
            data-controls="prev"
            aria-controls="customize"
            tabindex="-1"
          >
            <span>&lt</span>
          </li>
          <li
            class="next"
            data-controls="next"
            aria-controls="customize"
            tabindex="-1"
          >
            <span>&gt</span>
          </li>
        </ul>
        <div class="my-slider">
          <div class="slider-item">
            <div class="card-carousel">
              <img src="/static/imgs/example-image-16x9.jpg" alt="" />
              <h3>Title 1</h3>
            </div>
          </div>

          <div class="slider-item">
            <div class="card-carousel">
              <img src="/static/imgs/example-image-16x9.jpg" alt="" />
              <h3>Title 2</h3>
            </div>
          </div>

          <div class="slider-item">
            <div class="card-carousel">
              <img src="/static/imgs/example-image-16x9.jpg" alt="" />
              <h3>Title 3</h3>
            </div>
          </div>
          <div class="slider-item">
            <div class="card-carousel">
              <img src="/static/imgs/example-image-16x9.jpg" alt="" />
              <h3>Title 4</h3>
            </div>
          </div>
          <div class="slider-item">
            <div class="card-carousel">
              <img src="/static/imgs/example-image-16x9.jpg" alt="" />
              <h3>Title 5</h3>
            </div>
          </div>
          <div class="slider-item">
            <div class="card-carousel">
              <img src="/static/imgs/example-image-16x9.jpg" alt="" />
              <h3>Title 6</h3>
            </div>
          </div>
          <div class="slider-item">
            <div class="card-carousel">
              <img src="/static/imgs/example-image-16x9.jpg" alt="" />
              <h3>Title 7</h3>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <img
            src="https://static.wixstatic.com/media/65b593_f3499463f7224564a468de3cabbe99f8~mv2.png/v1/fill/w_309,h_101,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo_horizontal_branco.png"
            alt="logo_horizontal_branco.png"
            style="
              width: 309px;
              height: 101px;
              object-fit: cover;
              object-position: 50% 50%;
            "
          />
          <small class="d-block mb-3 text-muted">© 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
